<h1>All Contacts</h1>
<h3>Here are your contacts: </h3>
<ul>
  <% @all_contacts.each() do |contact| %>
  <li><a href="/contact/<%= contact.id() %>"><%= contact.first_name() %> <%= contact.last_name() %> </a></li>
<% end %>
</ul>
