<h1>Add an email to your Kontact:</h1>

<form action="/individual_contact" method="post">
  <label for="email_address">email:</label>
  <input id="email_address" name="email_address" type="text">

  <label for="e_type">first name:</label>
  <input id="e_type" name="e_type" type="text">



  <button type="submit">Add Email to Kontact</button>
</form>
