<h1>Success!</h1>

<h1>Here is the contact you added:</h1>
<h2><%= @last_name %> <%= @first_name %> <%= @job_title %> <%= @company %></h2>

<a href="/contact">See Kontact List </a>
<a href="/contact/form">Add New Contact</a>
