<h1>Contact Added!</h1>

<h1>Here is the contact you added:</h1>
<h2><%= @first_name %> <%= @last_name %> </h2>

<a href="/">Home</a>
<!-- <a href="/contact">See Kontact List </a>
<a href="/contact/form">Add New Contact</a> -->
